{{#partial "content"}}

    <p>See Section details and staff information:</p>

    <ul  class="list-group">
        <li class="list-group-item list-group-item-light"></li>
    </ul>

{{/partial}}

{{> layout.hbs}}